
mat-toolbar{
    position: fixed;
    top: 1;
    z-index: 1;
}

mat-spinner {
    margin: 0 auto;
}

.mat-spinner::ng-deep circle {
    stroke: #5ACB47;
}

mat-card{
    width: 70%;
}

button{
    background-color: #5ACB47;
}

mat-toolbar{
    display: flex;
    background-color: white;
    color: #000;
}

.spacer {
    flex: 2 2 auto;
}


.icon{
    margin-top: 20px;
    margin-left: 15px;
}


table {
    width: 100%;
  }

  table thead th{
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
  }
  
  .container{
    margin: auto;
    width: 50%;
  }


  th{
    height: 50px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  td:nth-child(3),th:nth-child(3){
    border-right: 1px solid #000;
  }
  



  .cellBorder{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
